# =======
# Locales
# =======
# Paramètres de connexion du NAS
NAS_USER="user"
NAS_PASSWORD="pass"
NAS_FTP_ADDR="sftp://adress"

# Paramètres de stockage des fichiers de config
USER_HOME="/home/user/"
CONFIG_DIR="$HOME/.config/local_scripts"

# =============
# nasSavings.sh
# =============
# Répertoires locaux
NAS_LOCAL_MEMES="$HOME/Downloads/H/"
NAS_LOCAL_VIDEOS="$HOME/Downloads/yt-dlp/"